<div id="login-form">
<div class="form-label">Username</div>
<input type="text" id="login-username"/>
<div class="form-label">Password</div>
<input type="password" id="login-password"/>
<input type="button" value="login" id="login-button">
<div id="login-error" style="display:none"></div>
</div>