<div id="login-form">
<div class="form-labe">Username</div>
<input type="text" id="login-username"/>
<div class="form-labe">Password</div>
<input type="text" id="login-password"/>
<input type="button" id="login-button">
<div id="login-error" style="display:none"></div>
</div>