<div id="register-form">
<h3>Registration Form</h3>
<div class="form-label">Username</div>
<input type="text" id="register-username"/>
<div class="form-label">Password</div>
<input type="password" id="register-password"/>
<div class="form-label">Re-enter Password</div>
<input type="password" id="register-password-2"/>
<input type="button" value="Register" id="register-button">
<div id="register-error" style="display:none"></div>
<input type="button" value="Login" id="register-login" style="display:none">
</div>