<div class="todos-todo">
<input type="text" value="{{priority}}" class="todo-priority">
<input type="text" value="{{task}}" class="todo-task">
<input type="checkbox" {{done}} class="todo-done">
<input type="button" value="Edit" class="todo-edit">
<input type="button" value="Del" class="todo-delete">
</div>