<div class="todo-app">
<h2>Todo App</h2>
<ul class="nav-bar">
<li><a href="/#login">Login Form</a></li>
<li><a href="/#register">Registration Form</a></li>
<li><a href="/#todos">Tasks</a></li>
</ul>
<div id="main-content"></div>
</div>